<!-- AnsatAnsatz -->
<section class="success" id="ansatz">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	  <h2>Ansatz</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
Mein Ziel ist es, für Geschäftsprozesse relevante Probleme quantitativ zu lösen. Dabei stelle ich mir wiederkehrend drei Fragen:
<ol>
    <li> Ist das Problem hinreichend genau beschrieben? </li>
    <li> Ist meine Lösung geeignet, das Problem mit all seinen Nebenbedingungen zu adressieren? </li>
    <li> Gibt es eine einfachere Lösung? </li>
</ol>

Ich habe den Anspruch, fachliche Arbeit und Softwareentwicklung mit höchstmöglicher Qualtität zu verbinden.

Mehrjährige Industrieexpertise habe ich sowohl in der Energiewirtschaft als auch in der Logistik.



    </div>
  </div>
</section>
