<!-- Portfolio Grid Section -->
<section id="expertise">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Domainwissen</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
	<h3>Energiewirtschaft</h3>
	<ul>
	    <li> Analyse und Modellierung von Energiesystemen, insbesondere durch mathematische Optimierung und Simulation <li>
		    <li> volkswirtschaftlich (Strommarktmodelle)</li>
		    <li> betriebswirtschaftlich (Abbildung von Fernwärme-Systemen, techno.-ökonom.-regulatorisch)</li>
		    <li> Detaillierte Parametrisierung von technischen Anlagen basierend auf Realdaten </li>
		    <li> Kraftwärme-Kopplungs-Anlagen (GT, AHK, WWS, ZF, DT, etc.) </li>
		    <li> Speichertechnologien </li>
	</ul>


### Logistik
- Letzte Meile
- Entwicklung von Logiken, Tools und Applikationen im Zusammenhang mit dem Tourenplanungsproblem (Vehicle-Routing-Problem)


  </div>
</section>

