<!-- Portfolio Grid Section -->
<section id="fachwissen">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Fachwissen</h2>
        <hr class="star-primary">
      </div>
    </div>
	<h3>Energiewirtschaft</h3>
	In der Energiewirtschaft habe ich mehr als 12 Jahre Erfahrung in verschiedenen Positionen, sowohl im akademischen als auch im industriellen Umfeld. Meine Stärke liegt in der Unterstützung bei Themen (vornehmlich) des Energiehandels, die sowohl ökonomische als auch technische Expertise erfordern.
	<ul>
	    <li> Analyse und Modellierung von Energiesystemen, insbesondere durch mathematische Optimierung und Simulation</li>
	    <li> volkswirtschaftlich (Strommarktmodelle)</li>
	    <li> betriebswirtschaftlich (Abbildung von Fernwärme-Systemen, techno.-ökonom.-regulatorisch)</li>
	    <li> detaillierte Parametrisierung von technischen Anlagen basierend auf Realdaten </li>
	    <ul>
		<li> Kraft-Wärme-Kopplungsanlagen (GT, AHK, WWS, ZF, DT, etc.) </li>
		<li> Speichertechnologien </li>
	    </ul>
	</ul>


	<h3> Logistik </h3>
	Für ein aufstrebendes StartUp war ich mehrere Jahre in der F&E tätig, an der Schnittstelle zwischen den Bereichen IT und Operations.
	<ul>
	    <li> Letzte Meile </li>
	    <li> Entwicklung von Logiken, Tools und Applikationen im Zusammenhang mit dem Tourenplanungsproblem (Vehicle-Routing-Problem) </li>
	</ul>

</section>

