<!-- Portfolio Grid Section -->
<section id="software">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Software</h2>
        <hr class="star-primary">
      </div>
    </div>
	<h3>Programmierphilosophie</h3>
	Meine Art zu Programmieren leitet sich ebenfalls von meinen drei Kernfragen ab. Ist das Problem klar formuliert? Kann dieses möglichst direkt adressiert werden? Getreu nach Albert Einstein "So einfach wie möglich, aber nicht einfacher". Meine Erfahrung hat mich gelehrt, das Software im Laufe der Zeit, mit sich wandelnden Anforderungen, wie von alleine komplexer wird. Deshalb bemühe ich mich stehts unnötige Komplexität zu vermeiden.
	<p> </p>
	Deneben bin ich ein großer Fan von Testgetriebener Entwicklung (TDD). Zum einen wird man dadurch gedrängt "des Pudels Kern" zu suchen, zum anderen ermöglicht das Flexibiltät, weil es die Grundlage für rigoroses code refactoring darstellt.


    <h3>TechStack</h3>
    Unter TechStack verstehe ich Technologien mit denen man eine Menge Zeit verbracht hat, bzw. zumindest soviel, um die dahinter liegenden Konzepte zu verstehen einordnen zu können. Oftmals entstehen Wettbewerbsvorteile heute durch überlegene Technologien. Folglich ist es oft von strategischer Bedeutung, zu wissen, für welche Aufgaben sich welche Technologien/Programmiersprachen besser eignen als andere. Mein Fokus liegt klar auf Python (>> 10.000h), das ich seit 2012 verwende.
    <ul>
<li>Programmierparadigmen: skripting, objektorientiert, funktional</li>
<li>Softwareentwicklung: Git, Docker, CICD, Kubernetes, Linux, Azure, VIM, Bash</li>
<li>Datenbanken: (SQL, NoSQL, GraphQL)</li>
<li>Python:<ul>
<li>numerisch: NumPy, pandas, Pyomo, scikit-learn, Matplotlib, XGBoost, PyMC, Seaborn</li>
<li>dev: pytest, Pydantic, SQLAlchemy, Pandera, Poetry, itertools, cytoolz</li>
<li>front-end: FastAPI, Django</li>
</ul>
</li>
<li>Bekanntschaft mit anderen Programmiersprachen: C, Golang, JavaScript, Julia</li>
</ul>


</section>

